@page "/"

<PageTitle>Home</PageTitle>
<div class="row main-article-conent">
<h1 class="heading-center">Welcome, Chicago Blackhawks Fans</h1>
<div>
	<p>This site is dedicated to UK based fans of original six NHL team, the Chicago Blackhawks. There's not much here right now, but it will grow between now and the first 2024 regular season game on 25th September.</p>
	<p> We do have a list of the current roster, which will be updated as news arrives. Expect additional functionality to arrive shortly. The site should have a major updated at least once a week.</p>
</div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-auto">
			<img src="/assets/dick_irvin.webp" class="img-fluid" alt="Dick Irwin">
			<p class="text-center mt-2">Dick Irwin</p>
		</div>
	</div>
	<div class="row justify-content-center">
		This site has no connection whatsoever with the Chicago Blackhawks organisation.
	</div>
	</div>
</div>