@page "/"

<PageTitle>Home</PageTitle>
<div class="row main-article-conent">
<h1 class="heading-center">Welcome, Chicago Blackhawks Fans</h1>
<div>
	<p>This site is dedicated to UK based fans of original six NHL team, the Chicago Blackhawks. There's not much here right now, but it will grow between now and the first 2024 regular season game on 25th September.</p>
	<p> We do have a list of the current roster, which will be updated as news arrives. Expect additional functionality to arrive shortly. The site should have a major updated at least once a week.</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-12 justify-content-center">
			<div class="row">
				<img src="/images/dick_irvin.png" class="img-fluid" alt="Dick Irwin">				
			</div>
			<div class="row">
				<p class="text-center mt-2">Dick Irwin 1892 - 1957</p>
				<p>Dick Irwin, born in 1892, was the Blackhawks first captain and played for the team for three seasons from 1925/26 to 1928/29. He 
				was also Head Coach from 1928 to 1931 and won the Stanley cup with the Blackhawks in 1931. He returned to coach the team for a final
				time in the 1955/56 season before finally retiring due to ill health. Dick passed away on 16th May 1957</p>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row bg-danger align-items-center" style="margin-bottom: 5px;">
				<h2 class="text-xl-center text-white">NEWS</h2>
			</div>
			<div class="row">
				<p>The roster for the 2024 Tom Kurvers Prospect Showcase has been announced. 2024 2nd overall draft pick, Artyom Levshunov, is 
				included, along with fellow 2024 draftees AJ Spellacy and Ty Henry. Ethan Del Mastro, Frank Nazar and Langdon Slaggart, all of whom 
				saw some ice time for the Blackhawks last season, are alo included.</p>
				<p>I'm looking forward to seeing Artyom on the ice for the Blackhawks, here's the full roster...<br/></p>
			</div>
			<div class="row bg-black align-items-center">
				<span class="text-xl-center text-white">TOM KURVERS PROSPECT SHOWCASE ROSTER</span>				
			</div>
			<div class="row">
				<div class="col-md-6 col-12">
					<table>
						<tr><td colspan="2"><b>FORWARDS</b></td></tr>
						<tr><td>28</td><td>Colton Dach</td></tr>
						<tr><td>92</td><td>Gavin Hayes</td></tr>
						<tr><td>76</td><td>Nick Lardis</td></tr>
						<tr><td>90</td><td>Paul Ludwinski</td></tr>
						<tr><td>43</td><td>Laylen Luypen</td></tr>
						<tr><td>53</td><td>Marcel Marcel</td></tr>
						<tr><td>91</td><td>Frank Nazar</td></tr>
						<tr><td>64</td><td>Alex Pharand</td></tr>
						<tr><td>36</td><td>Ryder Rolston</td></tr>
						<tr><td>67</td><td>Samuel Savoie</td></tr>
						<tr><td>84</td><td>Landon Slaggert</td></tr>
						<tr><td>79</td><td>AJ Spellacy</td></tr>
					</table>
				</div>
				<div class="col-md-6 col-12">
					<table>
						<tr><td colspan="2"><b>DEFENDERS</b></td></tr>
						<tr><td>42</td><td>Nolan Allan</td></tr>
						<tr><td>54</td><td>Lucas Brenton</td></tr>
						<tr><td>38</td><td>Ethan Del Mastro</td></tr>
						<tr><td>85</td><td>Ty Henry</td></tr>
						<tr><td>47</td><td>Wyatt Kennedy</td></tr>
						<tr><td>55</td><td>Artyom Levshunov</td></tr>
						<tr><td>56</td><td>Tnias Mathurin</td></tr>
					</table>
					<br/>
					<table>
						<tr><td colspan="2"><b>GOALMINDERS</b></td></tr>
						<tr><td>33</td><td>Drew Commesso</td></tr>
						<tr><td>31</td><td>Ben Gaudreau</td></tr>
					</table>
				</div>
			</div>
		</div>
	</div>
		<div class="row">
			<hr/>
			<p class="text-sm text-center">This site has no connection whatsoever with the Chicago Blackhawks organisation. All the information on this
			site is taken from freely available public sources and is accurate to the best of my knowledge. E&OE</p>
		</div>
	</div>
</div>